@import url(./fonts.css);

:root {
  --color-main-bg: #f7f7f7;
  --color-footer-header-bg: #171168;
  --color-text: #fff;
  --color-button: #2168eb;
  --color-button-hover: #1a59ce;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  vertical-align: top;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.layout {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 26px;
  font-family: 'Roboto-Italic', sans-serif;
  color: var(--color-text);
}

.header,
.footer {
  padding: 8px 0;

  text-align: center;
  background-color: var(--color-footer-header-bg);
}

.header__raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-box {
  width: 100%;
  flex: 0 1 48px;
}

.header__logo-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main {
  flex: 1 1 auto;
  background-color: var(--color-main-bg);
}

.section-code {
  padding: 26px 0;
}

.code__wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 4px;
  box-shadow: rgba(0, 128, 128, 0.35) 0px 5px 15px;
}

/* COPIES */
.code__label-copies {
  padding: 8px 16px 8px 8px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
  font-family: 'Roboto-Regular';

  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.code__input-copies {
  position: relative;
  width: 66px;
  padding: 10px;

  border: none;
  border-radius: 4px;
  /* box-shadow: 0 1px 2px rgba(223, 10, 10, 0.8); */
  font-size: 24px;
  font-family: 'Roboto-Regular';
}

.code__input-copies:focus {
  outline: none;
}

.code__input-copies::-webkit-inner-spin-button,
.code__input-copies::-webkit-outer-spin-button {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  cursor: pointer;
}

/* ADD */
.code__label-add {
  padding: 8px;
  max-width: 300px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.code__textarea-add {
  width: 100%;
  height: 300px;

  border: none;
  border-radius: 4px;
  resize: none;

  font-size: 18px;
  font-family: 'Roboto-Regular';
}

.code__textarea-add::placeholder {
  font-size: 16px;
}

.code__textarea-add:focus {
  outline: none;
  box-shadow: rgba(10, 85, 223, 0.8) 0px 0px 5px 0px,
    rgba(10, 85, 223, 0.8) 0px 0px 1px 0px;
}

.code__label-upload {
  display: inline-block;
  padding: 6px 12px;
  align-self: start;

  border: none;
  border-radius: 4px;
  background-color: var(--color-button);
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.3s ease;
}
.code__label-upload:hover {
  background-color: var(--color-button-hover);
}

.code__input-upload {
  display: none;
}

.code__preview {
  display: none;
  padding: 16px 8px;

  max-width: 50%;
  max-height: 400px;
  overflow: scroll;

  border: 1px solid #405df0;
  border-radius: 6px;
  box-shadow: rgba(64, 93, 240, 0.35) 0px 5px 15px;
  background-color: #fff;
}
.code__preview.code__preview--active {
  display: block;
}

.code__preview::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
.code__preview::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.code__preview::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(35, 231, 238, 0.5);
  border-radius: 6px;
}

.code__download-btn {
  display: none;
  padding: 6px 12px;
  align-self: start;

  border: none;
  border-radius: 4px;
  background-color: var(--color-button);
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.3s ease;
}
.code__download-btn:hover {
  background-color: var(--color-button-hover);
}
.code__download-btn.code__download-btn--active {
  display: inline-block;
}
